body {
    background-color: #BDBDBD;
    color: #616161;
}

h1, h2, h4 {
    color: black;
}

h2 {
    font-size: 300%;
}

p {
    text-align: justify;

}

i {
    color: #FFC400;
}

footer {
    box-shadow: 0px 10px 10px #616161;
}

a, a:hover {
    color: #616161;
}

footer i {
    color: #424242;
    padding: 20px 3px 20px 3px;
}

.left-banner {
    background-color: #FFC400;
}

.ornement {
    border-bottom: 2px solid #FFC400;
}

.infos {
    width: 100%;
}

.tete-infos {
    background-color: #424242;
    color: #FFC400;
    padding: 3px 0px 3px 0px;
    text-align: center;
}

.contact-bottom {
    font-size: 90%;
    list-style: none;
    margin-top: 15px;
}

.rubriques {
    background-color: white;
}

.jobs {
    display: inline;
}

#experience li {
    margin-bottom: 5px;
}

#photo-box {
    min-height: 270px;
}

#photo {
    border-radius: 100%;
    border: 3px solid #F9A825;
    width: 60%;
}

#name-box {
    min-height: 270px;
}

#surname {
    color: #FFC400;
}

#propos {
    padding: 25px;
}

#contact-list {
    font-size: 80%;
    list-style: none;
    margin-top: 10px;
}

#contact-list li {
    margin-top: 10px;
}

#hobby {
    display: table;
    margin: auto;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 150%;
    }

    h5, h6 {
        font-size: 100%;
    }

    #photo {
        width: 30%;
    }
}

@media screen and (min-width: 1440px) {
    #photo {
        width: 40%;
    }
}
