body
{
	background-color: #BDBDBD;
	color: #616161;
	height: 100%;
}

h4, h1, h2
{
	color: black;
}

h2 
{
	font-size: 250%;
}

p
{
	font-size: 80%;
	text-align: justify;
}

ul
{
	margin-top: 15px;
}

header
{
	min-height: 270px;
}

i
{
	color: #FFC400;
}

address
{
	font-weight: bold;
}

footer
{
	position: absolute; 
    left: 0 ;
	right: 0; 
	bottom: 0; 
}

footer i
{
	color: #424242;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 3px;
	padding-right: 3px;
}

.left-banner
{
	background-color: #FFC400;
}

.ornement
{
	border-bottom: 2px solid #FFC400;
}

.infos
{
	width: 100%;
}

.tete-infos
{
	background-color: #424242;
	color: #FFC400;
	text-align: center;
	padding: 3px;
	margin: auto;
	width:100%;
}

.contact-bottom
{
	font-size: 90%;
	list-style: none;
	margin-top: 15px;
}

#photo-box
{
	min-height: 270px;
}

#photo
{
	width: 60%;
	border-radius: 100%;
	border: 3px solid #F9A825;
}

#name-box
{
	margin-left: 35px;
	min-height: 270px;
}

#name
{
	background-color: white;
	min-height: 250px;
}

#surname
{
	color: #FFC400;
}

#propos
{
	padding: 20px;
}

#rubriques
{
	background-color: white;
}

#contact-list
{
	font-size: 80%;
	list-style: none;
	margin-top: 10px;
}

#contact-list li
{
	margin-top: 10px;
}

#hobby
{
	display: table;
	margin:auto;
}
