body
{
	background-color: #BDBDBD;
	color: #616161;
}

h4, h1
{
	color: black;
}

p
{
	font-size: 80%;
	text-align: justify;
}

ul
{
	margin-top: 15px;
}

.Left-Banner
{
	background-color: #FFC400;
}

.Main-Content
{
	background-color: #FFFFFF;
}

.Name-Post
{
	min-height: 270px;
}

.Picture
{
	border-radius: 100%;
	border: 3px solid #F9A825;
}

.Topic
{
	background-color: #424242;
}

.Rubric
{
	text-align: center;
	color: #FFC400;
}

.Bottom-line
{
	border-bottom: 2px solid #FFC400;
}

.Picture-space 
{
	min-height: 270px;
}

.contact-list
{
	font-size: 80%;
	list-style: none;
}

.contact-list li
{
	margin-top: 10px;
}

.contact-bottom
{
	font-size: 90%;
	list-style: none;
	margin-top: 15px;
}

#footer
{
	min-height: 320px;
}

#ornement
{
	border-bottom: 2px solid #FFC400;
}

#activity
{
	min-width: 50px;
	margin-top: 30px;
	color: #424242;
}

#Breathe
{
	margin-top: 20px;
	margin-bottom: 20px;
}

#test
{
	height: 100%;
	background-color: black;
}
